/* CSS DOCUMENT */
@charset "UFT-8";


@font-face {
    font-family: "Adelle Sans Regular";
    src: url(font/AdelleSansEXT-Regular.ttf) format(truetype);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Adelle Sans EXTRABold";
    src: url(font/AdelleSansEXT-Extrabold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Adelle Sans Bold";
    src: url(font/AdelleSansEXT-Bold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: "regular", sans-serif;
    margin: 5px;
    box-sizing: border-box;
    background-color: antiquewhite;
    
}


.navegador {
       background-color: blue;
    display: flex;
    padding: 3px;
    gap: 60px;
    justify-content: center;
}

.navegador a {
    color: beige;
    text-decoration: none;
    background-color: transparent;
}

h1 {
    color: orangered;
    font-size: 3.1rem;
    line-height: 3rem;
}

h2 {
    font-family: "Adelle Sans Bold", sans-serif;
    font-size: 1.5rem;
    color: blue;
    line-height: 2.3rem;
    font-variant-caps: all-petite-caps;
}

.ver {
    width: 200px;
    background-color: orangered;
}


.horizontal {
    background-color: orangered;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}

p {
    text-wrap-style: balance;
    line-height: 1.5rem;
}

.negrita {
    font-weight: 780;
}