/* CSS DOCUMENT */
@charset "UTF-8";


@font-face {
    font-family: "lato";
    src: url(font/Lato-Thin.ttf) format(truetype);
    font-weight: thin;
    font-style: normal;
}


@font-face {
    font-family: "Lato";
    src: url(font/Lato-Black.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: "thin", sans-serif;
    box-sizing: border-box;
    list-style: none;
    padding: 0%;
    text-decoration: none;
}

.navegador-flex {
    font-size: 1.3rem;
    background-color: #fafbff;
    display: flex;
    padding: 10px 55px;
    gap: 60px;
    align-items: center;
    padding-right: 60px;
    justify-content: space-between;
}

.navegador {
    display: flex;
    gap: 45px;
}

.navegador a {
    color: #00674F;
    text-decoration: none;
}



.contenedor {
    display: flex;
    gap: 50px;
    max-width: 1200px;
    margin-top: 120px;
    margin-bottom: 60px;
    padding: 0px 0px 0px 320px;
}

.encabezado {
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #00674F;
    color: #dad3cf;
    width: 100%;
    padding: 320px;
}

.encabezado-p {
    font-weight: 800;
}

.encabezado,
.contenedor {
    display: flex;
}

.contacto-contenedor {
    background-color: #8DBE00;
    display: flex;
    justify-content: space-around;
}



.contacto-contenedor ul {
    color: #00674F;
    display: flex;
    padding: 20px;
    gap: 150px;
    margin: 0%;
}


p,
li {
    text-wrap-style: balance;
    line-height: 2.1rem;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
}

h1 {
    color: #dad3cf;
    font-size: 5rem;
    line-height: 3rem;
    letter-spacing: 1px;
    margin: 20px 0px 10px 0px;
    font-weight: 50;
}

h2 {
    font-size: 1.8rem;
    line-height: 2.1rem;
    letter-spacing: 1px;
    color: #8DBE00;
    font-variant-caps: all-petite-caps;
    margin: 0;
    font-weight: 800;
}


h3 {
    color: #00674F;
    font-size: 1.8rem;
    line-height: 2.1rem;
    letter-spacing: 1px;
    margin: 0;
    font-weight: 800;
    font-variant-caps: all-petite-caps;
}




.info-izq {
    width: 260px;
    flex-shrink: 0;
}

.info-der {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.estudios {
    padding: 0%;
    margin: 0%;
}

ul {
    margin: 0%;
}


body {
    padding: 0%;
    margin: 0;
    background-color: antiquewhite;
}



.horizontal {
    background-color: #DE682A;
    text-align: center;
    padding: 28px;
    display: flex;
    justify-content: space-evenly;
    margin: 0%;
    font-size: 1.1rem;
}

.horizontal li {
    margin: 0;
    list-style: none;
}

.negrita {
    font-weight: 780;
    letter-spacing: 0.5px;
}


.contenedor-imagenes {
    display: flex;
    justify-content: space-around;
    padding: 0px 0px 80px 80px;
}

.imagenes-flex {
    display: flex;
    gap: 98px;
    margin-top: 40px;
}



footer {
    background-color: #00674F;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
}

footer ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 15px;
    list-style: none;
    font-weight: 750;
    font-variant: small-caps;

}

.italic {
    font-style: italic;
}

footer li,
footer a {
    color: beige;
}